.theme-controls-box {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1.5rem;
  top: 1.5rem;
  position: absolute;
  z-index: 3;
}

/* .theme-settings-box {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.moon,
.sun {
  margin: 0.1rem;
}

.dark:focus,
.light:focus {
  filter: sepia(0.1);
}
.moon:hover > svg,
.sun:hover > svg {
  cursor: pointer;
  transform: scale(1.1);
  border: white;
  border-radius: 50%;
  outline: 1px solid black;
}
