.theme-controls-box {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1rem;
  top: 1rem;
  position: absolute;
}

.moon,
.sun {
  margin: 0.1rem;
}
.moon:hover,
.sun:hover {
  cursor: pointer;
}
