.util-btn-box {
  margin: auto auto 0;
  display: flex;
  justify-content: center;
}
.util-btns {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
}

.util-btn-box > button {
  border-radius: 3px;
}
.upload-modal-active,
.login-modal-active,
.settings-modal-active {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: absolute;
  border: 1px solid white;
  border-radius: 7px;
  top: 3%;
  right: 5%;
  width: 90%;
  height: 33rem;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.93);
  color: black;
}
.upload-modal-hide,
.login-modal-hide,
.settings-modal-hide {
  animation: toggleOut 0.33s ease-in-out 0s alternate;
}

.upload-btn:hover,
.login-btn:hover,
.settings-btn:hover {
  cursor: pointer;
  transform: scaleY(1.09);
  transition: all 0.11s;
  letter-spacing: 0.03rem;
}
.login-btn {
  margin-top: auto;
}
.login-btn,
.upload-btn,
.settings-btn {
  transition: all 0.11s;
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
}
.upload-btn {
  margin-top: 0;
}
.image-preview-box {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
}
.preview-images {
  display: flex;
  overflow: auto;
  max-width: 80%;
}
h3 {
  text-align: center;
}

@keyframes toggleOut {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  50% {
    transform: scaleX(0) scaleY(1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
