* {
  font-family: monospace;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  min-width: 270px;
  max-width: 1280px;
  min-height: 700px;
  margin: auto;
}

button:hover {
  cursor: pointer;
}

.content-box {
  border: 1px solid white;
  margin: auto;
}

.content-item-container,
.landing-box {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  width: 66%;
  margin: 2rem auto;
}
.category-container > h3 {
  pointer-events: none;
  margin-top: 2rem;
  text-align: center;
}
.category-body {
  padding: 1rem;
}
.accolade-box {
  display: flex;
  flex-flow: column nowrap;
  min-width: 270px;
  max-width: 1280px;
  min-height: 700px;
}
.exit-btn {
  display: flex;
  width: 100%;
}
.exit-btn > button {
  background-color: rgba(255, 0, 0, 0.877);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  margin: 1rem 1rem auto auto;
  border-radius: 50%;
}
.exit-btn > button:hover {
  background-color: white;
  color: red;
}
hr {
  width: 66%;
  border-radius: 50%;
}
/* TODO */
/* Use snap-to and overflow-x to enable "paginated" carousel */
