.nav-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 1rem;
  width: 100%;
}
.nav-btn {
  border-radius: 3px;
  cursor: pointer;
  min-width: 9rem;
}
.nav-btn:hover,
.nav-btn-active {
  background-color: white;
  color: black;
}
